@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

/* navber design start here */
nav {
    display: flex;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    max-width: 100%;
    min-height: auto;

}

.logo-text {
    display: flex;

}

.left-side {
    margin-right: 20px;
}

.left-side img {
    padding: 25px;
    width: 50%;
    height: auto;

}

.text-part h2 {
    padding: 10px;
    text-align: center;
    font-size: 45px;
    font-weight: 700;

}

h2 span {
    color: deeppink;

}

.menus-item {
    padding: 25px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;


}

.menus-item ul {
    display: flex;

}

.menus-item a {
    text-decoration: none;
    margin-right: 20px;

}

.menus-item li {
    list-style: none;

}

#about {
    margin-top: 5px;
}

#dev {
    margin-top: 5px;
}

.logo-part {
    display: flex;
    padding: 2px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    align-content: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;


}

.icon-set {
    display: flex;

    /* justify-content: space-between; */
    gap: 15px;
}

/* nav design end here */

/* banner section styles */
.banner-container {
    display: flex;
    background: #1f22710d, #5d2c4a0d;
    max-width: 100%;
    height: auto;
    gap: 150px;
}

.left-container {
    margin-left: 50px;
    width: 50%;
    margin-top: 100px;

}

.left-container h2 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.left-container .banner-para {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list-set {
    margin-top: 20px;
    margin-left: 150px;
}

.sust {
    padding-top: 100px;

}

.same-icon {
    width: 3%;
}

.list-set p {
    color: #534C64;
    margin-left: 200px;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;

}

.first-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    background-color: deeppink;
    padding: 10px 20px;
    margin-top: 30px;
    border: 0px;
    margin-left: 150px;
}

.second-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    background-color: #4EC5F7;
    padding: 10px 20px;
    margin-top: 30px;
    border: 0px;
    margin-left: 10px;
}

.right-container {
    width: 50%;
    height: auto;
    margin-top: 70px;
}

.right-container img {
    width: 75%;

}

/* online game styles */
.online-game {
    background: #FFF;
    max-width: 100%;
    height: auto;
    margin: 0px auto;
    /* border: 5px solid red; */
    /* height: 300px; */
    margin-top: 30px;
}

.online-head {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 40px;

}

.online-head>span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;

}

.online-para {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;

}

.second-container {
    width: 100%;
    margin-left: 120px;
}

.sec-img {
    width: 300px;
    height: 400px;
    border-radius: 16px;
    margin-left: 10px;

}

.play-button {
    position: relative;
    width: 50%;

}

.play-button .text-part {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.play-button img {
    width: 5%;
    height: auto;
    background-color: white;
    border-radius: 30px;
}

.play-button {
    position: absolute;
    right: 15%;
    top: 145%;
    text-align: center;


}

.play-button {
    display: block;

}

.online-game .second-container:hover+.play-button img {
    display: block;
    color: red;



}

/* down part styles */
.down-part {
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
    gap: 50px;

}

.down-section {
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;




}

.first {
    margin-left: 150px;
}

.second {
    margin-left: 5px;
    width: 300 px;
}

.third {
    margin-right: 90px;

}

.fourth {
    margin-right: 150px;
}

/* download section */
.download-part {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    width: 80%;
    margin: 0px auto;
    height: 100vh;
    background: #FFF;
}

.text-container {
    margin-top: 200px;
}

.text-container span {

    text-align: left;

    font-size: 48px;
    font-weight: 700;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-container h2 {

    text-align: left;
    font-size: 30px;
    font-weight: 700;
}

.download-part p {
    color: #534C64;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;


}

.text-container {
    width: 50%;
}

.img-container {
    width: 40%;
    margin-top: 100px;
    position: relative;
}

.img-container .first-pic {
    width: 400px;
    height: 400px;
    margin-left: 100px;
}

.img-container .second-pic {
    width: 200px;
    height: auto;
    position: absolute;
    bottom: 130px;
    left: 10px;
}

/* logo card design */

.bonous-part {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    text-align: center;
    max-width: 80%;
    height: auto;
    margin: 0px auto;
    background: linear-gradient(90deg, rgba(167, 58, 114, 0.03) 0%, rgba(62, 37, 117, 0.03) 100%);

}

.logo-card {
    /* border:2px solid red; */
    width: 200px;
    margin-left: 20px;
    grid-auto-rows: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.logo-card img {
    width: 20%;
    height: auto;
    padding-top: 5px;
    margin-left: 10px;
}

.logo-card span {
    color: #0B0223;
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;


}

/* hover styles */

.logo-card img {
    display: block;
}

.logo-card:hover {
    border: 2px solid #FF42A5;
    color: #FF42A5;
    border-radius: 20px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* hover styles ends */


/* footer styles */

footer {
    margin-top: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: gray;
}

.head-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-logo img {
    width: 50px;
}


.second-part ul {
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.second-part li {
    list-style: none;
    margin-top: 30px;


}



.third-part {
    margin-top: 30px;
}

.third-part img {
    width: 50px;

}

.third-part ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.third-part li {
    list-style: none;
}

.fourth-part {
    margin-top: 30px;

}

.fourth-part ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.fourth-part li {
    list-style: none;
    

}

.last-sec{
    margin-top: 30px;
    text-align: center;
}








/* responsive styles */

/* for small devices */
@media screen and (max-width:576px) {

    nav,
    .menus-item,
    .menus-item ul,
    .logo-part,
    .download-part {
        flex-direction: column;
    }

    nav {
        width: 100%;
    }

    .menus-item ul {
        gap: 50px;
    }

    .left-side {
        margin-left: 50px;
    }

    .text-part {
        margin-top: 5px;
        /* margin-right: 50px; */

    }

    .logo-part {
        margin: auto;
    }

    .banner-container {
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        margin-left: 40px;

    }

    .left-container {

        width: 100%;
        margin-top: 20px;

    }

    .left-container h2,
    .left-container .banner-para {
        text-align: center;
        margin-right: 60px;
    }

    .list-set,
    .first-btn {
        margin-left: 50px;
    }

    .download-part {
        margin-top: 130px;
        width: 100%;
    }

    .text-container {
        width: 100%;
        padding: 10px;

    }

    .text-container span {
        margin: auto;
        margin-left: 20px;
    }

    .text-container h2 {
        margin-left: 40px;
        text-align: center;
        margin: auto;
    }

    .text-container p {
        margin-left: 30px;
        text-align: center;
        margin: auto;

    }

    .img-container {
        width: 100%;
    }

    .img-container .first-pic {
        width: 70%;
        margin-left: 200px;
        height: auto;
    }

    .img-container .second-pic {
        bottom: -40px;

    }

    .bonous-part {

        margin-top: 400px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    .logo-card {
        width: 100%;
        margin-left: auto;
    }
    .second-part ul, .third-part ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        align-items: center;
        margin-left: 50px;
    }
    .fourth-part ul{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        margin-left: 50px;
    }
    





}

/* for tablet devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .banner-container {
        flex-direction: column;
        gap: 30px;
    }

    .left-container {

        width: 100%;
        margin-left: 10px;
    }

    .list-set,
    .first-btn {
        margin-left: 220px;
    }

    .right-container {
        width: 100%;
        margin-left: 100px;
    }

    /* .img-container .first-pic{
        width: 80%;
        height: auto;
    } */
    .img-container .second-pic {
        bottom: -200px;

    }
    
    .bonous-part{
        margin-top: 300px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    



}